<!DOCTYPE html>
<html >
  <head>
<!--
    <meta charset="UTF-8">
    <title>ONT status view</title>
        <link rel="stylesheet" href="css/style.css">
-->

    <meta charset="UTF-8">
    <title>DangVanAn's Profile</title>
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>

<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/reset.css">
    
    <link rel="stylesheet" href="css/reset.css">

    
    <link rel="stylesheet" href="css/style.css">
    
    
  </head>

    <html lang="en" ng-app="StarterApp">

<head>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

  <meta name="viewport" content="initial-scale=1" />
</head>

<body layout="column" ng-controller="AppCtrl" class="gridListdemoBasicUsage">
  <md-toolbar layout="row ">
    <div class="md-toolbar-tools ">
        <md-button class="md-icon-button" aria-label="Icon">
            <md-icon md-svg-icon="icon/AnhAn.svg"></md-icon>
        </md-button>
      <h1>Dang Van An 's Profile</h1>
        
      <span flex></span>
    </div>
  </md-toolbar>
<!--
    <section id="banner" class="section">
	<div class="container">
    	<div class="intro">
    	<h1 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s"><i class="mdicon location-history"></i></h1>
        <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.0s">I am <span>Material</span>Strap</h2>
        <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.2s">Front End Developer - Wordpress - Angular</p>
        </div>
        <div class="clearfix"></div>
	</div>
    	  Carousel 
    </section>
-->
    
  <md-content layout-padding>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="About">
        <md-content class="md-padding" >
<!--
          <div layout="column">
            <h1 class="md-title">Enter an address</h1>
 <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <div layout="row" layout-wrap layout-fill>
 <md-input-container flex="25">
              <label>Last change</label>
              <input ng-model="dummy" readonly/>
            </md-input-container>
       <md-input-container flex="25">
              <label>Last change</label>
              <input ng-model="dummy" readonly/>
            </md-input-container>
       <md-input-container flex="25">
              <label>Last change</label>
              <input ng-model="dummy" />
            </md-input-container>
       <md-input-container flex="25">
              <label>Last change</label>
              <input ng-model="dummy" readonly/>
            </md-input-container>

    <md-input-container flex="25">
              <label>Last change</label>
              <input ng-model="dummy" readonly/>
            </md-input-container></div>
</div>
  </md-whiteframe>
            <md-input-container flex>
              <label>Last change</label>
              <input ng-model="dummy" readonly/>
            </md-input-container>
            <md-input-container flex>
              <label>Operational state</label>
              <input ng-model="dummy" readonly/>
            </md-input-container>
            <md-input-container flex>
              <label>Admin state</label>
              <input ng-model="dummy" readonly/>
            </md-input-container>
            <md-input-container flex>
              <label>Active SW version</label>
              <input ng-model="dummy" readonly/>
            </md-input-container>
            <md-input-container flex>
              <label>Planned SW version</label>
              <input ng-model="dummy" readonly/>
            </md-input-container>
          </div>
-->
            
        <body>
	<header>

        <div class="quickFade">
            <h1>Dang Van An's Timeline</h1>
<!--            <img src="http://cdn.raizlabs.com/wp-content/uploads/sites/8/2013/09/greg_head.png" alt="Alan Smith" />-->
            <img src="http://i.imgur.com/ouqkb1i.jpg" title="source: imgur.com" />
      </div>
	</header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
	<section id="cd-timeline" class="cd-container">
        
        <div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>About me</h2>
				<p>Born and raised on the country, Vietnam is a country rich in tradition, academic studies, strengthening the ability of the development itself. Do not stop learning to improve myself before the hard work.
                <br>
Learning at the University of natural sciences, National University of HO CHI MINH CITY. HCM, in a learning environment that helps students develop their learning ability not only ourselves, but also enhance the skills of understanding, skills of working, help train a better programmer in terms of time.</p>
				
				<span class="cd-date">Jan 1 2016</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
        
		<div class="cd-timeline-block" id="blockOne">
			<div class="cd-timeline-img cd-picture">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Graduated from the University of Sciences</h2>
				<p></p>
				<span class="cd-date">Oct 10 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>At the University of Sciences</h2>
				<p>A learning and training environment. Help the students develop personal capabilities as well as improve the skills necessary for work after graduation. The school not only for students but also provide the necessary skills to learn skills such as research, development of knowledge itself.</p>
				
				<span class="cd-date">Sep 15 2013</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Born</h2>
				<p>Born on October 28, 1995</p>
				<span class="cd-date">Oct 10 1995</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
            
</body>  
        </md-content>
      </md-tab>
      <md-tab label="Skills">
        <md-content class="md-padding">
          <div layout="row">

            <div layout="column" flex="45">
<!--
              <md-input-container flex>
                <label>Signal level TX/RX</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
              <md-input-container flex>
                <label>PON BER errors US/DS</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
              <md-input-container flex>
                <md-tooltip md-direction="left">
                  Inidicates the current bias of the laser this ONT
                </md-tooltip>
                <label>Laser Bias</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
              <md-input-container flex>
                <md-tooltip md-direction="left">
                  Inidicates the current temperature of the optics module of this ONT
                </md-tooltip>
                <label>Optics temperature</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
              <md-input-container flex>
                <label>Voltage</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
-->
              <div class="block">
                  <md-icon md-svg-icon="icon/AnhAn.svg"></md-icon>
				<h1>
					Technical Skills
				</h1>
				<h6>C/C++</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 60%;"></div>
				  </div>
				<h6>C#</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 95%;"></div>
				  </div>
				<h6>Java</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 60%;"></div>
				  </div>
				<h6>Html</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 30%;"></div>
				  </div>
				<h6>Developer Android</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 70%;"></div>
				  </div>  
                <h6>Adobe Photoshop</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div> 
                  <br>
                  <br>
                  <br>
                  <div class = "imageskills">
                      <img src="img/technical-support.jpg" alt="Location">
                  </div>
			  </div>
            </div>
            <div layout="column" flex="10">
              </div>
            <div layout="column" flex="45">
            <div class="block">
                <md-icon md-svg-icon="icon/AnhAn.svg"></md-icon>
				<h1>
					Soft Skills
				</h1>
				<h6>Communication</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div>
				<h6>Teamwork</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 90%;"></div>
				  </div>
				<h6>Initiative</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 70%;"></div>
				  </div>
				<h6>Problem solving</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div>
				<h6>Flexibility</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div>  
                <h6>Computer skills</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div> 
                
                  <br>
                  <br>
                  <br>
                  <div class = "imageskills">
                      <img src="img/Soft-Skills-Reto.jpg" alt="Location">
                  </div>
			  </div>
            </div>
          </div>
            
<!--
        <div class="block">
				<h5 class="left-align"><i class="mdi-action-stars"></i>
					Technical Skills
				</h5>
				<h6>C/C++</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 60%;"></div>
				  </div>
				<h6>C#</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 95%;"></div>
				  </div>
				<h6>Java</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 60%;"></div>
				  </div>
				<h6>Html</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 30%;"></div>
				  </div>
				<h6>Developer Android</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 70%;"></div>
				  </div>  
                <h6>Adobe Photoshop</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div> 
			  </div>
                
            <div class="block">
				<h5 class="left-align"><i class="mdi-action-stars"></i>
					Soft Skills
				</h5>
				<h6>Communication</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div>
				<h6>Teamwork</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 90%;"></div>
				  </div>
				<h6>Initiative</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 70%;"></div>
				  </div>
				<h6>Problem solving</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div>
				<h6>Flexibility</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div>  
                <h6>Computer skills</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div> 
			  </div>
-->
        </md-content>
      </md-tab>
      <md-tab label="Education & Work">
                <md-content class="md-padding">
          <div layout="row">

            <div layout="column" flex="45">
<!--
              <md-input-container flex>
                <label>Signal level TX/RX</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
              <md-input-container flex>
                <label>PON BER errors US/DS</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
              <md-input-container flex>
                <md-tooltip md-direction="left">
                  Inidicates the current bias of the laser this ONT
                </md-tooltip>
                <label>Laser Bias</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
              <md-input-container flex>
                <md-tooltip md-direction="left">
                  Inidicates the current temperature of the optics module of this ONT
                </md-tooltip>
                <label>Optics temperature</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
              <md-input-container flex>
                <label>Voltage</label>
                <input ng-model="dummy" readonly/>
              </md-input-container>
-->
              <div class="block">
                  <md-icon md-svg-icon="icon/AnhAn.svg"></md-icon>
				<h1 class="left-align"><i class="mdi-social-school"></i> Education</h1>
		  <div class="block">
            
			<h1>University of Sciences</h1>
			<p class="helping-text"><i class="mdi-maps-place indigo-text"></i> University of Sciences <i class="mdi-action-today indigo-text"></i> 27 Aug 2007</p>
            <p >A learning and training environment. Help the students develop personal capabilities as well as improve the skills necessary for work after graduation. The school not only for students but also provide the necessary skills to learn skills such as research, development of knowledge itself.</p>
          </div> 
                  <br>
                  <br>
                  <br>
                  <div class = "imageskills">
                      <img src="img/work.jpg" alt="Location">
                  </div>
			  </div>
            </div>
            <div layout="column" flex="10">
              </div>
            <div layout="column" flex="45">
            <div class="block">
                <md-icon md-svg-icon="icon/AnhAn.svg"></md-icon>
				<h1 class="left-align"><i class="mdi-social-school"></i> Work Experience</h1>
		  <div class="block">
            
			<h1>University of Sciences</h1>
			<p class="helping-text"><i class="mdi-maps-place indigo-text"></i> Ho Chi Minh <i class="mdi-action-today indigo-text"></i> 31 Mar 201 </p>
            <p >Join the work in small groups when doing the projects of learning in courses, help for improving the way work was markedly enhanced, at the same time help for group work experience is improved. the experience of knowledge of subjects are consolidating rapidly, raising the possibility of finding stuff, learning the knowledge not to be taught in the classroom a more mature way.</p>
          </div> 
                
                  <br>
                  <div class = "imageskills">
                      <img src="img/education.jpg" alt="Location">
                  </div>
			  </div>
            </div>
          </div>
            
<!--
        <div class="block">
				<h5 class="left-align"><i class="mdi-action-stars"></i>
					Technical Skills
				</h5>
				<h6>C/C++</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 60%;"></div>
				  </div>
				<h6>C#</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 95%;"></div>
				  </div>
				<h6>Java</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 60%;"></div>
				  </div>
				<h6>Html</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 30%;"></div>
				  </div>
				<h6>Developer Android</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 70%;"></div>
				  </div>  
                <h6>Adobe Photoshop</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div> 
			  </div>
                
            <div class="block">
				<h5 class="left-align"><i class="mdi-action-stars"></i>
					Soft Skills
				</h5>
				<h6>Communication</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div>
				<h6>Teamwork</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 90%;"></div>
				  </div>
				<h6>Initiative</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 70%;"></div>
				  </div>
				<h6>Problem solving</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div>
				<h6>Flexibility</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div>  
                <h6>Computer skills</h6>
					<div class="progress">
					<div class="progress-bar" style="width: 80%;"></div>
				  </div> 
			  </div>
-->
        </md-content>
      </md-tab>
      <md-tab label="Contact">
                <md-content class="md-padding">
    <form>
              <h1>Contact</h1>
  <input placeholder="Name" type="text"  value="" required>
  <input placeholder="Email address" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
  <h5 class="validation-text">Please enter a valid email address.</h5>
  <input placeholder="Location" type="text" value="" required>
  <div class="flex">
    <textarea placeholder="Message" rows="1" required></textarea>
  </div>
  <button>Send</button>
              
<a href="https://facebook.com/dangvanan14" target="_blank"><img src="http://i.imgur.com/SN5QbDk.png" title="facebook/dangvanan14" /><i class="facebook"></i></a>
</form>

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
  <md-content>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js "></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    
    <script src="js/index.js"></script>
    
    

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
    
  </body>
    
</html>
